configstore/*
gh/*
github-copilot/*
iterm2/*
gtk-2.0/*
containers/*
gh-dash/*
op/*
**/lazy-lock.json
kitty/startup.conf
yarn/*
1Password/ssh/agent.toml
packer/checkpoint_cache
packer/checkpoint_signature
